#mainModuleContainer, #generatorModuleContainer {
    position: relative;
    float: left;
    font-family: monospace;
    border: 2px solid black;
    font-size: 1.4em;
    width: 19em;
    height: 18em;
    padding: 1em;
    margin: 0.96em;
}

#titleDiv, #generatorTitleDiv {
    font-size: 2em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid black;
}

#delete {
    font-size: 1em;
    margin-top: 0.3em;
    margin-right: 0.3em;
    position:absolute;
    top:0;
    right:0;
    background: rgb(255, 141, 141);
}
 
button {
    font-family: monospace;
    border: 2px solid black;
    font-size: 2em;
    margin-left: 0.15em;
    margin-right: 0.15em;
    margin-bottom: 0.1em;
}

button:active {
    background: #cacaca;
}

#buttonAdd {
    font-weight: bold;
}

#play, #generate, #buttonAdd, #buttonStop, #buttonPlayAll, #loop, #listen {
    font-size: 1.5em;
    padding: 0.3em 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    user-select: none;
    height: 2.1em;
    width: 3em;
}

#play:disabled, #generate:disabled {
    border: 2px solid #cacaca;
}


#playNotes {
    margin-bottom: 0.2em;
}

#selectChords {
    margin-top: 0.5em;
}

#chordDiv {
    margin-bottom: 1em;
}

#midiClockContainer, #midiOutContainer { 
    padding-top: 0.5em;;
}

#midiText, #midiClockText {
    font-size: 0.9em;
}

#midiClockContainer, #midiOutContainer { 
    height: 3em;
    display: inline-block;
    border: 2px solid black;
}

select {
    width: 12.5em;
}
#inputBarsContainer, #outputBarsContainer {
    text-align: center;
    height: 3em;
    width: 8.4em;
    display: inline-block;
    border: 2px solid black;
    margin-bottom: 0.8em;
}

#outputBarsContainer {
    margin-left: 1em;
}

#clickContainer {
    border: 2px solid black;
    margin-bottom: 1em;
}

#clickVolumeSlider {
    margin-left: 2em;
}

#click {
    font-size: 1.3em;
    padding: 0.3em 1em;
    margin: 0.5em;
    margin-left: 1.5em;
    user-select: none;
}

#buttonDiv, #generatorButtonDiv {
    position: absolute;
    left: -0.1em;
    bottom: -0.1em;
    width: 21.05em;
    border: 2px solid black;
    text-align: center;
}

#buttonDiv {
    left: -0.15em;
}

#generatorButtonDiv {
    width: 21em;
}

select {
    margin: 0.5em;
}

table {
    width: 19em;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 0.5em;
}

#chord1, #chord2, #chord3, #chord4 {
    width: 4em;
    border: 2px solid black;
    font-family: monospace;
    text-align: center;
    font-size: 0.9em;
}

#message {
    margin-top: 1em;
    text-align: center;
}



input[type=range] {
    -webkit-appearance: none;
    width: 40%;
    margin: 3.9px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #848484;
    border-radius: 25px;
    border: 1.2px solid #562425;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
    border: 0px solid #000000;
    height: 14px;
    width: 7px;
    border-radius: 0px;
    background: #211817;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.1px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #919191;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #848484;
    border-radius: 25px;
    border: 1.2px solid #562425;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
    border: 0px solid #000000;
    height: 14px;
    width: 7px;
    border-radius: 0px;
    background: #211817;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #777777;
    border: 1.2px solid #562425;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #848484;
    border: 1.2px solid #562425;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
    border: 0px solid #000000;
    height: 14px;
    width: 7px;
    border-radius: 0px;
    background: #211817;
    cursor: pointer;
    height: 6.2px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #848484;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #919191;
  }
  