#mainModuleContainer, #generatorModuleContainer {
    position: relative;
    float: left;
    font-family: monospace;
    border: 2px solid black;
    font-size: 1.4em;
    width: 19em;
    height: 18em;
    padding: 1em;
    margin: 1em;
}

#titleDiv {
    font-size: 2em;
    margin-bottom: 0.2em;
}

#generatorTitleDiv {
    font-size: 1.7em;
    margin-bottom: 0.2em;
}

#delete {
    font-size: 1em;
    margin-top: 0.3em;
    margin-right: 0.3em;
    position:absolute;
    top:0;
    right:0;
    background: rgb(255, 141, 141);
}
 
button {
    font-family: monospace;
    border: 2px solid black;
    font-size: 2em;
    margin-left: 0.15em;
    margin-right: 0.15em;
    margin-bottom: 0.1em;
}

button:active {
    background: #cacaca;
}

#buttonAdd {
    font-size: 1.5em;
}

#buttonStop, #buttonPlayAll {
    font-size: 1.5em;
    padding-top: 0.1em;
    margin-left: 0.2em;
}

#playNotes {
    margin-bottom: 0.2em;
}

#selectChords {
    margin-top: 0.5em;
}

.container {
    border: 2px solid black;
    margin-bottom: 1em;
}

#midiClockContainer, #midiOutContainer { 
    padding-top: 0.5em;;
}

#midiText, #midiClockText {
    font-size: 0.9em;
}

#midiClockContainer, #midiOutContainer { 
    height: 3em;
    display: inline-block;
    border: 2px solid black;
}

select {
    width: 12.5em;
}

#inputBarsContainer, #outputBarsContainer {
    height: 3em;
    width: 8.4em;
    display: inline-block;
    border: 2px solid black;
    margin-bottom: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#click {
    font-size: 1.3em;
    padding: 0.3em 1em;
    margin: 0.5em;
    user-select: none;
}

#play, #generate {
    font-size: 1.5em;
    padding: 0.3em 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    user-select: none;
}

#loop {
    font-size: 1.5em;
    padding: 0.3em 1em;
    margin-bottom: 0.5em;
    user-select: none;
}

#play:disabled, #generate:disabled {
    border: 2px solid #cacaca;
}

select {
    margin: 0.5em;
}

table {
    width: 19em;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 0.5em;
}

#chord1, #chord2, #chord3, #chord4 {
    width: 4em;
    border: 2px solid black;
    font-family: monospace;
    text-align: center;
    font-size: 0.9em;
}